# DataFrames

When working with tabular data, such as data stored in spreadsheets or databases, Pandas is the right tool for you.
Pandas will help you to explore, clean and process your data. In Pandas, a data table is called a DataFrame.

A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers,
floating point values, categorical data and more) in columns.

In [ ]:
import pandas as pd
import numpy as np
import math

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [ ]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [ ]:
d

** Using Lists**

In [ ]:
pd.Series(data=my_list) #data is a keyword

In [ ]:
pd.Series(data=my_list,index=labels)

In [ ]:
pd.Series(my_list,labels)

** NumPy Arrays **

In [ ]:
pd.Series(arr)

In [ ]:
pd.Series(arr,labels)

** Dictionary**

In [ ]:
pd.Series(d)

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [ ]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [ ]:
ser1

In [ ]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [ ]:
ser2

In [ ]:
ser1['USA']

In [ ]:
ser1 + ser2

In [ ]:
## read csv files
##  df = pd.read_csv(filename.csv)

### Create DataFrame from scratch

In [ ]:
# from dictionary
d = {'Name': ['Andy', 'Bill','Catherine','David','Emma'],
'Score': [87, 67, 93, 95, 50],
'Gender': ['M','M','F','M','F']}
d

In [ ]:
df = pd.DataFrame(d)

In [ ]:
df

In [ ]:
a = [['Andy', 87, 'M'],
['Bill', 67, 'M'],
['Catherine', 93, 'F'],
['David', 95, 'M'],
['Emma', 50, 'F']]

In [ ]:
a[0][0]

In [ ]:
df2 = pd.DataFrame([['Andy', 87, 'M'],
['Bill', 67, 'M'],
['Catherine', 93, 'F'],
['David', 95, 'M'],
['Emma', 50, 'F']],
columns=['Name', 'Score', 'Gender'])
df2

In [ ]:
from numpy.random import randn
randn(5,4)

In [ ]:
 # generates random numbers from normal distribution
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

In [ ]:
df = pd.DataFrame(randn(5,4),index= ["A", "B", "C", "D", "E"],columns=["W", "X", "Y", "Z"])
df

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [ ]:
df['W']

In [ ]:
# Pass a list of column names df[row, column]
df[['W','Z']]

In [ ]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

In [ ]:
type(df)

In [ ]:
type(df['W'])

**Creating a new column:**

In [ ]:
df['new'] = df['W'] + df['Y']

In [ ]:
df

Removing Columns

In [ ]:
df.drop('new') ## should not work because here.  it takes axis = 0 by default. axis = 0 means by row 
##df.drop('E') #

In [ ]:
df.drop('new',axis=1)

In [ ]:
df

In [ ]:
# you want to change to inplace=True to affect the underlying data
df.drop('new',axis=1,inplace=True)

In [ ]:
df

In [ ]:
##Can also drop rows this way
df.drop("E",axis = 0) # can also add inplace = True to make the change permanenent

In [ ]:
df

In [ ]:
df.loc['A'] # loc and iloc

In [ ]:
## Or select based off of position instead of label/index
df.iloc[0] # iloc = integer location

In [ ]:
df.loc['B','Y'] # df.loc[row, column]

In [ ]:
df.loc[['A','B'],['W','Y']]

In [ ]:
df.loc[['A','B'],]

In [ ]:
df.loc[:,["W","X"]]

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [ ]:
df

In [ ]:
df>0

In [ ]:
df[df>0]

In [ ]:
df['W']>0

In [ ]:
df[df['W']>0] # give the entire dataframe, but where values in column W are greater than 0

In [ ]:
df[df['W']>0]['Y']

In [ ]:
df[df['W']>0][['Y','X']]

In [ ]:
df[(df['W']>0) & (df['Y'] < 1)] # & is for AND, | is for OR.

In [ ]:
df[(df['W']>0) & (df['Y'] > 1)]

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [ ]:
df

In [ ]:
# Reset to default 0,1...n index
df.reset_index()

In [ ]:
newind = 'CA NY WY OR CO'.split()

In [ ]:
newind

In [ ]:
df['States'] = newind

In [ ]:
df

In [ ]:
df.set_index('States')

In [ ]:
df

In [ ]:
df.set_index('States',inplace=True)

In [ ]:
df

In [ ]:
df["W"].max()

In [ ]:
df.max()

In [ ]:
df["W"].min()

In [ ]:
df["W"].mean()

In [ ]:
df["W"].std() # standard deviation

In [ ]:
df["W"].skew() # skewness

In [ ]:
df["W"].kurtosis() # kurtosis

### Missing Data

Let's show a few convenient methods to deal with Missing Data in pandas:

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [ ]:
df

In [ ]:
df = df.dropna() # removes rows with NaN Values # By default, axis = 0

In [ ]:
#df.dropna(inplace = True)

In [ ]:
df

In [ ]:
pd.isna(df)

In [ ]:
df.dropna(axis=1)

In [ ]:
df.fillna(value=0)

In [ ]:
df['A'].fillna(value=df['A'].mean())

### Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:

In [ ]:
dates = pd.date_range('20200101', periods=10,freq = "D") # freq = M for monthly,S for seconds, A/Y = Annual, W = Weekly

In [ ]:
dates

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4), index=dates, columns=list('ABCD'))

In [ ]:
df

In [ ]:
df.head() # shows me the first 5 rows by default
## df.head(2) ## shows first 2 rows

In [ ]:
df.tail()

In [ ]:
df.to_numpy()

In [ ]:
df.apply(np.cumsum) # cumulative sum

In [ ]:
df.apply(np.cumprod) # cumulative product

In [ ]:
df.apply(lambda x: x.max() - x.min()) # apply

### Merging

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [ ]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on='key')

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})

In [ ]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on='key') # inner, left, right, outer joins pd.merge(left, right, on='key')

In [ ]:
pd.merge(left, right,how = "left", on='key') # inner, left, right, outer joins pd.merge(left, right, on='key')

###  Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [ ]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [ ]:
## Be mindful of what you call
df = pd.dataframe(data)

In [ ]:
df = pd.DataFrame(data)
df

In [ ]:
df.shape

Now you can use the .groupby() method to group rows together based off of a column name. For instance let's group based off of Company. This will create a DataFrameGroupBy object:

In [ ]:
df.groupby('Company')

In [ ]:
by_comp = df.groupby("Company")
by_comp

In [ ]:
## And then call aggregate methods off the object
by_comp.mean()

In [ ]:
df.groupby('Company').mean()

In [ ]:
df.groupby('Company').mean().reset_index()

In [ ]:
by_comp.std()

In [ ]:
by_comp.min()

In [ ]:
by_comp.max()

In [ ]:
by_comp.count()

In [ ]:
by_comp.describe() # numerical description of your data

In [ ]:
by_comp.describe().transpose() # rows to columns, and columns to rows

In [ ]:
by_comp.describe().transpose()["GOOG"]

In [ ]:
# Creating the DataFrame 
df = pd.DataFrame({"A":[12, 4, 5, None, 1],  
                   "B":[7, 2, 54, 3, None],  
                   "C":[20, 16, 11, 3, 8],  
                   "D":[14, 3, None, 2, 6]})

df

In [ ]:
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']
df.index = index_

In [ ]:
df

In [ ]:
df.transform(func = lambda x : x + 10) # column by column,

In [ ]:
df.transform(func = ['sqrt', 'exp'])

### Operations

There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture:

In [ ]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head(2)

### Info on Unique Values

In [ ]:
df['col2'].unique() # it only works on series

In [ ]:
df['col2'].nunique()

In [ ]:
df['col2'].value_counts()

### Selecting Data

In [ ]:
df

In [ ]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) & (df['col2']==444)]

In [ ]:
newdf

### Applying Functions

In [ ]:
def times2(x):
    return x*2

In [ ]:
df['col1'].apply(times2)

In [ ]:
df.sum()

** Permanently Removing a Column**

In [ ]:
del df['col1']

In [ ]:
df

** Get column and index names: **

In [ ]:
df.columns # names of columns

In [ ]:
df.index # names of rows/index

** Sorting and Ordering a DataFrame:**

In [ ]:
df

In [ ]:
df.sort_values(by='col2') #inplace=False by default

In [ ]:
df

** Find Null Values or Check for Null Values**

In [ ]:
df.isnull()

In [ ]:
# Drop rows with NaN Values
df.dropna()

** Filling in NaN values with something else: **

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

In [ ]:
df.fillna('FILL')

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.pivot_table(values='D',index=['A', 'B'],columns=['C'])

### Stacking and Unstacking

In [1]:
import pandas as pd
import numpy as np

In [2]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],\
                    ['one', 'two', 'one', 'two','one', 'two', 'one', 'two']]))

In [3]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [4]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [5]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df

                     A         B
first second
bar   one     2.109480  0.055225
      two    -2.002436  1.927868
baz   one     1.391736  0.932761
      two    -0.876539  0.415975
foo   one    -0.258510  0.943502
      two     0.072297  0.952688
qux   one     0.758149 -2.423606
      two    -0.387538 -1.182444

In [6]:
df.iloc[:4,]

                     A         B
first second
bar   one     2.109480  0.055225
      two    -2.002436  1.927868
baz   one     1.391736  0.932761
      two    -0.876539  0.415975

In [7]:
df2 = df.iloc[:4]

In [8]:
## The stack() method “compresses” a level in the DataFrame’s columns.

stacked = df2.stack()
stacked

first  second
bar    one     A    2.109480
               B    0.055225
       two     A   -2.002436
               B    1.927868
baz    one     A    1.391736
               B    0.932761
       two     A   -0.876539
               B    0.415975
dtype: float64

***With a “stacked” DataFrame or Series (having a MultiIndex as the index),the inverse operation of stack() is unstack(), which by default unstacks the last level: ***

In [9]:
stacked.unstack()

                     A         B
first second
bar   one     2.109480  0.055225
      two    -2.002436  1.927868
baz   one     1.391736  0.932761
      two    -0.876539  0.415975

In [10]:
stacked.unstack(1)

second        one       two
first
bar   A  2.109480 -2.002436
      B  0.055225  1.927868
baz   A  1.391736 -0.876539
      B  0.932761  0.415975

In [11]:
stacked.unstack(0)

first          bar       baz
second
one    A  2.109480  1.391736
       B  0.055225  0.932761
two    A -2.002436 -0.876539
       B  1.927868  0.415975

In [12]:
stacked.reset_index()

  first second level_2         0
0   bar    one       A  2.109480
1   bar    one       B  0.055225
2   bar    two       A -2.002436
3   bar    two       B  1.927868
4   baz    one       A  1.391736
5   baz    one       B  0.932761
6   baz    two       A -0.876539
7   baz    two       B  0.415975