# Series 1

### Number Operations

In [1]:
# To add comments, put a # before it. That line doesnt get executed.

## we are assigning the value 201 to variable "a", and 100 to variable "b".
## remember you can always change the value that you store in a variable.

a = 201
b = 100

In [3]:
print(a)

201

In [7]:
print("Hello World")

Hello World

In [8]:
## Performing arithmetic operations
a+b

301

In [9]:
a-b

101

In [10]:
a*b

20100

In [11]:
a/b

2.01

In [12]:
a//b

2

In [13]:
a%b

1

In [15]:
10**3

1000

### Variable Types and Assignment

In [16]:
a = 100
b = 12.345
c = 1 + 5j
d = 'hello, world'
e = True
f = "hello, world"
print(type(a)) ### "Type" tells us what variable type is stored in a variable. 
print(type(b)) ## Different types are #string, integet, float, complex, boolean,
print(type(c))
print(type(d))
print(type(e))

# Comments



""" Commments

dadasdas
asdada
"""

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

' Comment '

In [17]:
a+b

112.345

In [18]:
a+c

(101+5j)

In [19]:
a+d ## This will give us an error because we cant add a integer and a string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
num = 12
name = 'Sam'

In [26]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Data Structures 

4 collection data types in the Python programming language:
1. List is a collection which is ordered and changeable. Allows duplicate members.
2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
3. Set is a collection which is unordered and unindexed. No duplicate members.
4. Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

### List

In [27]:
[1,2,3]

[1, 2, 3]

In [28]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [29]:
my_list = ['a','b','c']

In [30]:
my_list

['a', 'b', 'c']

In [31]:
my_list.append('d')

In [32]:
my_list

['a', 'b', 'c', 'd']

In [33]:
my_list[0]

'a'

In [34]:
my_list[1]

'b'

In [36]:
## SLICING OF LIST
my_list[1:]

['b', 'c', 'd']

In [37]:
my_list[:3]

['a', 'b', 'c']

In [38]:
my_list[-1]

'd'

In [39]:
my_list[5]

IndexError: list index out of range

In [44]:
# my_list[len(my_list)]

length_a = len(my_list)
my_list[length_a-1]

'd'

In [45]:
my_list[0] = 'NEW'

In [46]:
my_list

['NEW', 'b', 'c', 'd']

In [52]:
nest = [1,2,3,[4,5,['target']]]
nest

[1, 2, 3, [4, 5, ['target']]]

In [55]:
nest[3]

[4, 5, ['target']]

In [58]:
nest[3][2]

['target']

In [59]:
nest[3][2][0]

'target'

In [69]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [70]:
a.remove(2)
a

[1, 3, 4, 5]

In [71]:
a.remove(10)

ValueError: list.remove(x): x not in list

In [75]:
new_list = [1,2,3,2,3,4,5,6,6]
new_list.count(10)

0

In [78]:
#5 in [1,2,3]

a = [1,2,3,4,5,6,7,8]
b = 12
b in a
## 12 in [1,2,3,4,5,6,7,8]

False

In [79]:
a = [1,2,3]
b =  a
print(b)

[1, 2, 3]

In [80]:
b[0] = 10

In [81]:
b

[10, 2, 3]

In [82]:
a

[10, 2, 3]

In [86]:
a= [1,2,3]
#c = a[:] ## copy the list
c = a.copy()
c

[1, 2, 3]

In [87]:
c[0]= 10
c

[10, 2, 3]

In [88]:
a

[1, 2, 3]

In [89]:
# insert item at specific location

thislist = ["apple", "banana", "cherry"]

thislist.insert(1, "orange") 
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [93]:
thislist = ["apple", "banana", "cherry"]
#del thislist[0]
#print(thislist)
del thislist
thislist

NameError: name 'thislist' is not defined

### Dictionary

In [112]:
d = {'key1':'item1' , 'key2':'item2'}

In [109]:
d

{'First Name': 'Divyanshu', 'Last Name': 'Singhal'}

In [110]:
d['key1']

'Divyanshu'

In [113]:
d.keys()

dict_keys(['key1', 'key2'])

In [114]:
d.values()

dict_values(['item1', 'item2'])

In [115]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

### Booleans

In [116]:
True

True

In [117]:
False

False

### Tuples

In [94]:
t = (1,2,3)

In [95]:
t[0]

1

In [96]:
t[0] = 'NEW' ## Tuple doesnt support replacing old variables with new varibles

TypeError: 'tuple' object does not support item assignment

### Sets

In [97]:
{1,2,3}

{1, 2, 3}

In [101]:
a =  {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}
a

{1, 2, 3}

In [102]:
b = [1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2]
b

[1, 2, 3, 1, 2, 1, 2, 3, 3, 3, 3, 2, 2, 2, 1, 1, 2]

### Comparison Operators

In [118]:
1 > 2

False

In [119]:
1 < 2

True

In [120]:
1 <= 4

True

In [124]:
a = 1
b = 1
a == b

True

In [125]:
'hi' == 'bye'

False

### Logic Operators

In [127]:
(1 < 2) and (2 < 3)

True

In [128]:
(1 > 2) or (2 < 3)

True

In [131]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [133]:
not(1==2)

True

### Conditional Statements

In [134]:
if 1 < 2:
    print('Yep!')
    
    
## if condition:
    # do something

Yep!

In [135]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [136]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [137]:
if 1 == 2: 
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [138]:
if 1 == 2:
    print('first')
elif 3 == 4:
    print('middle')
else:
    print('Last')

Last

### Control Flow Statements

### For Loops

In [139]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [140]:
seq = [1,2,3,4,5]

In [142]:
for item in seq:
    print(item)

1
2
3
4
5

In [143]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [144]:
a =  [1,2,3,4,5]
for i in a[::-1]:
    print(i)

5
4
3
2
1

In [145]:
d = {'key1':'item1','key2':'item2'}

In [150]:
for key in d.keys():
    print(d[key])

item1
item2

### While Loops

In [152]:
i = 10
while i > 0:
    print('i is: {}'.format(i))    
    i = i-1

i is: 10
i is: 9
i is: 8
i is: 7
i is: 6
i is: 5
i is: 4
i is: 3
i is: 2
i is: 1

In [154]:
i = 1
while i < 5:
    ## do something
    print(i)
    i = i +1

1
2
3
4

### Range

In [155]:
range(5)

range(0, 5)

In [161]:
list(range(5))

[0, 1, 2, 3, 4]

In [160]:
a = [1,2,3,4,5,6,7,8]
#len_a = len(a)
#for i in range(len_a):
#    print(a[i])
    
for i in a:
    print(a)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [162]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [164]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

### List Comprehension

In [173]:
x = [1,2,3,4]
sum(x)
min(x)
max(x)

10

In [169]:
out = []
# out.append(element)

for item in x:
    c = item**2
    out.append(c)
    print(out)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]

In [170]:
[item**2 for item in [1,2,3,4]]

[1, 4, 9, 16]

In [171]:
new_out = [item**2 for item in x]

In [172]:
new_out

[1, 4, 9, 16]

### Functions

In [174]:
def my_firstfunction(parameter='default'):
    """
    This is my first function. it prints something
    """
    print(parameter)

In [176]:
my_firstfunction()

default

In [177]:
my_firstfunction

In [178]:
my_firstfunction('new param')

new param

In [ ]:
my_func(param1='new param')

In [183]:
def square(x):
    """ Square function takes in the value given to x and returns its square
    """
    sq = x**2
    
    return sq

In [187]:
def sum_2_variables(x=1,y =2):
    return x+ y

In [190]:
new  = sum_2_variables(x=5,y=10)
new

15

In [184]:
square(2)

4

In [185]:
out = square(5)

25

In [186]:
out

### Lambda Expressions

In [191]:
def times2(var = 1):
    return var*2

In [192]:
times2(2)

4

In [193]:
lambda var: var**2

In [194]:
x = lambda var: var**2

In [195]:
x(2)

4

In [196]:
y = lambda n: n**2 if n%2 == 0 else n**3
print(y)
print(y(3))

<function <lambda> at 0x00000276A1EDA8C8>
27

In [197]:
def y(n):
    if n%2 == 0:
        return n**2
    else:
        return n**3

In [199]:
y(3)

27

### Map and Filter

In [ ]:
seq = [1,2,3,4,5]

In [201]:
map(times2,seq)

In [200]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [204]:
new_list = []
for i in seq:
    sq = i**2
    new_list.append(sq)

new_list

[1, 4, 9, 16, 25]

In [202]:
list(map(lambda var: var**2,seq))

[1, 4, 9, 16, 25]

In [205]:
## filter(function you want to perform, list to perform on)
filter(lambda item: item%2 == 0,seq)

In [206]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

In [207]:
a = list(filter(lambda item: item%2 == 0,seq))
print(a)

[2, 4]

### Useful to know

In [213]:
thisdict = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 1964

In [216]:
## What's the mistake here
fruits = ["apple", "banana", "cherry"]
for index1, value in enumerate(fruits):
    print(str(index1) + ': ' + value)

0: apple
1: banana
2: cherry

In [ ]:
## TO be discussed next time

## type casting
## math package
## input/output

In [209]:
# Ternary Operator
is_nice = True

state = "nice" if is_nice else "not nice"

In [208]:
is_nice = True
if is_nice ==True:
    state = "nice"
else:
    state = "not nice"

In [210]:
int(123132.23121231312)

123132